<div class="wrapper">
	<app-navbar-reg></app-navbar-reg>
	<div class="container p-5 mt-5" id="navigation-pills">
		<div class="row">
			<div class="card">
				<div class="card-header card-header-primary">
					<h3 class="card-title">Slanje posla...</h3>
					<p class="card-category">Popunite formular kako biste poslali posao </p>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<!--   Big container   -->
						<div class="form-width">
							<!--		STEP 1		-->
							<div class="tab-pane active" id="tab1" *ngIf="step1">
								<nav>
									<ul class="pagination justify-content-center">
										<li class="page-item active"><a class="page-link" tabindex="-1">1</a></li>
										<li class="page-item ">
											<a class="page-link" tabindex="-1">2</a>
										</li>
										<li class="page-item"><a class="page-link" tabindex="-1">3</a></li>
										<li class="page-item ">
											<a class="page-link" tabindex="-1">4</a>
										</li>
									</ul>
								</nav>

								<div class="card fixed-height">
									<div class="card-header card-header-primary">
										<h3 class="card-title">Odaberite uslugu</h3>
										<p class="card-category">Ovo polje je obavezno</p>
									</div>
									<div class="card-body">
										<div class="row justify-content-center p-20">
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input font-weight-bold"
														(change)="radioChange($event)" type="radio" [checked]="prepress"
														name="inlineRadioOptions" id="inlineRadio1" value="prepress">
													Priprema i izrada klišea
													<span class="circle">
														<span class="check"></span>
													</span>

												</label>
											</div>
											<div class="form-check form-check-radio form-check-inline">
												<label class="form-check-label">
													<input class="form-check-input" (change)="radioChange($event)"
														[checked]="production" type="radio" name="inlineRadioOptions"
														id="inlineRadio2" value="production">
													Izrada klišea
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
										</div>
									</div>
									<ul class="pager wizard list-type text-right position-f" role="tablist">
										<li class="next"><button class="btn btn-primary btn-round" role="tab"
												[disabled]="nextStep" href="#tab2" (click)="nextStep1()">Dalje</button>
										</li>
									</ul>
								</div>

							</div>
							<!--		STEP 2		-->
							<div class="tab-pane" id="tab2" *ngIf="step2">
								<nav>
									<ul class="pagination justify-content-center">
										<li class="page-item">
											<a class="page-link" (click)="setSteps(true, false, false, false)"
												tabindex="-1">1</a>
										</li>
										<li class="page-item active">
											<a class="page-link" tabindex="-1">2</a>
										</li>
										<li class="page-item"><a class="page-link" tabindex="-1">3</a></li>
										<li class="page-item ">
											<a class="page-link" tabindex="-1">4</a>
										</li>
									</ul>
								</nav>
								<div class="card fixed-height">
									<div class="card-header card-header-primary">
										<h3 class="card-title">Popunite detalje</h3>
									</div>
									<div class="card-body">
										<form>
											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="text" class="form-control"
															placeholder="Naziv posla">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<div class="togglebutton">
															<label>
																<input type="checkbox">
																<span class="toggle"></span>
																Kurirska dostava
															</label>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="text" class="form-control"
															placeholder="Vrsta materijala">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<div class="togglebutton">
															<label>
																<input type="checkbox">
																<span class="toggle"></span>
																Skraćenje u fajlu
															</label>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="text" class="form-control"
															placeholder="Linijatura">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<div class="togglebutton">
															<label>
																<input type="checkbox">
																<span class="toggle"></span>
																Montaža
															</label>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="text" class="form-control"
															placeholder="Obim valjka">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<div class="togglebutton">
															<label>
																<input type="checkbox">
																<span class="toggle"></span>
																Overprint black
															</label>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="text" class="form-control"
															placeholder="Širina rolne">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<label
															class="d-flex align-items-center justify-content-center m-top">Debljina
															polimera</label>
														<a id="navbarDropdownMenuLink" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="false">
															<input type="text" readonly value="{{selectedThickness}}"
																class="form-control" placeholder="Debljina polimera"
																style="background-color: transparent !important;">
														</a>
														<div class="dropdown-menu"
															aria-labelledby="navbarDropdownMenuLink">
															<a class="dropdown-item" (click)="getThickness(t)"
																*ngFor="let t of thicknesses">{{t}}</a>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 pr-1">
													<div class="form-group has-default">
														<input type="number" class="form-control"
															placeholder="Ukupan broj separacija">
													</div>
												</div>
												<div class="col-md-6 pl-5">
													<div class="form-group">
														<label
															class="d-flex align-items-center justify-content-center m-top">Vrsta
															štampe</label>
														<a id="navbarDropdownMenuLink" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="false">
															<input type="text" readonly value="{{selectedPrintingType}}"
																class="form-control" placeholder="Vrsta štampe"
																style="background-color: transparent !important;">
														</a>
														<div class="dropdown-menu"
															aria-labelledby="navbarDropdownMenuLink">
															<a class="dropdown-item" (click)="getPrintingType(p)"
																*ngFor="let p of printingTypes">{{p}}</a>
														</div>
													</div>
												</div>
											</div>
										</form>
										<ul class="pager wizard list-type d-flex flex-row-reverse position-f"
											role="tablist">
											<li class="next"><button class="btn btn-primary btn-round" href="#tab3"
													(click)="nextStep2()" role="tab" data-toggle="tab">Dalje</button>
											</li>
											<li class="previous"><button class="btn btn-primary btn-round" href="#tab1"
													(click)="setSteps(true, false, false, false)" role="tab"
													data-toggle="tab">Nazad</button></li>
										</ul>
									</div>
								</div>
							</div>
							<!--		STEP 3		-->
							<div class="tab-pane" id="tab3" *ngIf="step3">
								<nav>
									<ul class="pagination justify-content-center">
										<li class="page-item">
											<a class="page-link" (click)="setSteps(true, false, false, false)"
												tabindex="-1">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" (click)="setSteps(false, true, false, false)"
												tabindex="-1">2</a>
										</li>
										<li class="page-item active"><a class="page-link" tabindex="-1">3</a></li>
										<li class="page-item ">
											<a class="page-link" tabindex="-1">4</a>
										</li>
									</ul>
								</nav>
								<div class="card fixed-height">
									<div class="card-header card-header-primary">
										<h3 class="card-title">Učitajte sve fajlove</h3>
									</div>
									<div class="card-body">
										<div class="pTopDown-10">
											<label class="pr-5 pt-5" for="inputGroupFile02">Učitajte sve fajlove</label>
											<input type="file" multiple class="form-control" id="inputGroupFile02"
												placeholder="Učitajte sve fajlove">
										</div>
										<ul class="pager wizard list-type d-flex flex-row-reverse position-f"
											role="tablist">
											<li class="next"><button class="btn btn-primary btn-round" href="#tab3"
													(click)="nextStep3()" role="tab" data-toggle="tab">Dalje</button>
											</li>
											<li class="previous"><button class="btn btn-primary btn-round" href="#tab1"
													(click)="setSteps(false, true, false, false)" role="tab"
													data-toggle="tab">Nazad</button></li>
										</ul>
									</div>
								</div>

							</div>
							<!--		STEP 4		-->
							<div class="tab-pane" id="tab4" *ngIf="step4">
								<nav>
									<ul class="pagination justify-content-center">
										<li class="page-item">
											<a class="page-link" (click)="setSteps(true, false, false, false)"
												tabindex="-1">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" (click)="setSteps(false, true, false, false)"
												tabindex="-1">2</a>
										</li>
										<li class="page-item">
											<a class="page-link" (click)="setSteps(false, false, true, false)"
												tabindex="-1">3</a>
										</li>
										<li class="page-item active">
											<a class="page-link" tabindex="-1">4</a>
										</li>
									</ul>
								</nav>

								<div class="card fixed-height">
									<div class="card-header card-header-primary">
										<h3 class="card-title">Dodatne napomene</h3>
									</div>
									<div class="card-body">
										<div class="pTopDown-10">
											<div class="form-group bmd-form-group">
												<label class="bmd-label-floating napomena"> Upišite poruku...</label>
												<textarea class="form-control" rows="5"></textarea>
											</div>
										</div>
									</div>

									<div class="row align-items-end">
										<div class="col align-self-end">
											<ul class="pager wizard list-type d-flex flex-row-reverse position-zavrsi"
												role="tablist">
												<li class="next"><button class="btn btn-primary btn-round" href=""
														role="tab" data-toggle="tab">Završi</button></li>
												<li class="previous"><button class="btn btn-primary btn-round"
														href="#tab1" (click)="setSteps(false, false, true, false)"
														role="tab" data-toggle="tab">Nazad</button></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  big container -->
					</div>
				</div>
			</div>
		</div>
	</div>