<div class="wrapper" >
	<app-navbar-reg></app-navbar-reg>
	<div class="container p-5 mt-5" id="navigation-pills">
		<div class="row">
			<div class="card">
				<div class="card-header card-header-primary">
					<h3 class="card-title">Flexo posao</h3>
					<p class="card-category">Popunite formular kako bi poslali posao </p>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<!--   Big container   -->
						<div id="rootwizard">
							<ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
								<li class="nav-item">
									<a class="nav-link" href="#tab1" role="tab" data-toggle="tab">
										<i class="material-icons">schedule</i>
										<div>First</div></a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#tab2" role="tab" data-toggle="tab">Second</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab3" role="tab" data-toggle="tab">Third</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab4" role="tab" data-toggle="tab">Forth</a></li>
							</ul>

							<div id="bar" class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
							  </div>
							<div class="tab-content tab-space">
								<div class="tab-pane active" id="tab1">
									1
									<ul class="pager wizard list-type" role="tablist">
										<li class="next"><button class="btn btn-primary btn-round" role="tab" data-toggle="tab" href="#tab2">Next</button></li>
									</ul>
								</div>
								<div class="tab-pane" id="tab2">
									2
									<ul class="pager wizard list-type" role="tablist">
										<li class="previous"><button class="btn btn-primary btn-round" href="#tab1" role="tab" data-toggle="tab">Previous</button></li>
										<li class="next"><button class="btn btn-primary btn-round" href="#tab3" role="tab" data-toggle="tab">Next</button></li>
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									3
									<ul class="pager wizard list-type" role="tablist">
										<li class="previous"><button class="btn btn-primary btn-round" href="#tab1" role="tab" data-toggle="tab">Previous</button></li>
										<li class="next"><button class="btn btn-primary btn-round" href="#tab3" role="tab" data-toggle="tab">Next</button></li>
									</ul>
								</div>
								<div class="tab-pane" id="tab4">
									4
									<ul class="pager wizard list-type" role="tablist">
										<li class="previous"><button class="btn btn-primary btn-round" href="#tab1" role="tab" data-toggle="tab">Previous</button></li>
										<li class="next"><button class="btn btn-primary btn-round" href="" role="tab" data-toggle="tab">Završi</button></li>
									</ul>
								</div>
								
							</div>
						</div>
						<!--  big container -->
					</div>
				</div>
			</div>
		</div>
	</div>