<div class="landing-page sidebar-collapse">
    <nav class="navbar navbar-inverse bg-dark fixed-top navbar-expand-lg" 
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#pablo"> CTP Studio Spremo </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-in">
                            <i class="material-icons">login</i>
                            Prijava
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-up">
                            <i class="material-icons">person_add</i>
                            Registracija
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">
                            <i class="material-icons">phone</i>
                            Kontaktirajte nas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>