<div id="navigation-pills">
    <div class="row">
        <div class="col-md-2">
            <ul class="p-3 nav nav-pills nav-pills-icons flex-column" role="tablist">
                <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", 
                    "nav-pills-warning","nav-pills-danger" -->
                <li class="nav-item">
                    <a class="nav-link active inline" href="#dashboard-2" role="tab" data-toggle="tab">
                        <i class="material-icons">dashboard</i>
                        <div class="margine">Aktuelno</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inline" href="#schedule" role="tab" data-toggle="tab">
                        <i class="material-icons">schedule</i>
                        <div class="margine">Informacije</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link inline" href="#kontakti" role="tab" data-toggle="tab">
                        <i class="material-icons">phone</i>
                        <div class="margine">Kontakti</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link inline" href="#obavestenja" role="tab" data-toggle="tab">
                        <i class="material-icons">notifications</i>
                        <div class="margine">Obaveštenja</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link inline" href="#flexo" role="tab" data-toggle="tab">
                        <i class="material-icons">toc</i>
                        <div class="margine">Flexo</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link inline" href="#offset" role="tab" data-toggle="tab">
                        <i class="material-icons">toc</i>
                        <div class="margine">Offset</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link inline" href="#otpremnice" role="tab" data-toggle="tab">
                        <i class="material-icons">edit_note</i>
                        <div class="margine">Otpremnice</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 ml-auto mr-auto">
            <div class="p-3 tab-content">
                <div class="tab-pane active" id="dashboard-2">
                    <app-admin-dashboard></app-admin-dashboard>
                </div>
                <div class="tab-pane" id="schedule">
                    <app-admin-schedule></app-admin-schedule>
                </div>
                <div class="tab-pane" id="obavestenja">
                    <app-admin-notifications></app-admin-notifications>
                </div>
                <div class="tab-pane" id="flexo">
                    <app-admin-table-flexo></app-admin-table-flexo>
                </div>
                <div class="tab-pane" id="offset">
                    <app-admin-table-offset></app-admin-table-offset>
                </div>
                <div class="tab-pane" id="otpremnice">
                    <app-admin-otpremnice></app-admin-otpremnice>
                </div>
                <div class="tab-pane" id="kontakti">
                    <app-admin-contacts></app-admin-contacts>
                </div>
            </div>
        </div>
    </div>
</div>