<app-navbar></app-navbar>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="text-center title">Nađite nas u kancelarijama</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto text-center">
                <h3 class="title">
                    Kancelarije za offset štampu
                </h3>
                <h4>
                    Vladike Ćirića 31,<br>
                    21000 Novi Sad,
                    Srbija
                </h4>
            </div>
            <div class="col-md-6 mr-auto text-center">
                <h3 class="title">
                    Kancelarije za flexo štampu
                </h3>
                <h4>
                    Novosadski put 57, <br>
                    21000 Novi Sad,
                    Srbija
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 ml-auto ">
            <h2 class="text-center title">Radno vreme</h2>
            <h4 class="text-center description">
                <table class="table">
                    <tr>
                        <td>
                            Ponedeljak
                        </td>
                        <td>
                            7:30-15:30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Utorak
                        </td>
                        <td>
                            7:30-15:30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sreda
                        </td>
                        <td>
                            7:30-15:30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Četvrtak
                        </td>
                        <td>
                            7:30-15:30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Petak
                        </td>
                        <td>
                            7:30-15:30
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subota
                        </td>
                        <td>
                            8:00-12:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nedelja
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                </table>
            </h4>
        </div>
        <div class="col-md-6 mr-auto text-center">
            <h2 class="title">
                Kontakt telefon
            </h2>
            <h4>
                <i class="material-icons p-1">phone</i>
                021493456
            </h4>
        </div>
    </div>
</div>

<!--
        <div class="col-md-4 ml-auto mr-auto">
            <div class="info info-horizontal ">

                <div class="description">
                    <h4 style="font-weight: 500;"> <i class="now-ui-icons location_pin"></i> &nbsp;Nađite nas u
                        kancelarijama
                    </h4>
                    <p class="font-weight-normal"> Vladike Ćirića, 31,<br>
                        21000 Novi Sad,
                        Srbija
                    </p>
                </div>
            </div>
            <div class="info info-horizontal">

                <div class="description">
                    <h4 style="font-weight: 500;"> <i class="now-ui-icons tech_mobile"></i> &nbsp; Pozovite nas</h4>
                    <p class="font-weight-normal"> Slobodan Spremo<br>
                        +381 021 493 456<br>
                        Pon - Pet, 8:00-16:00<br>
                        Subota, 8:00-12:00
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<app-footer></app-footer>