<div class="login-page sidebar-collapse">
    <app-tnavbar-nonreg></app-tnavbar-nonreg>
    <div class="page-header header-filter"
        style="background-image: url('../assets/img/bg15.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Prijavi se</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" formControlName="email" id="email"
                                        [(ngModel)]="email" placeholder="Email...">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" formControlName="password" id="password"
                                        [(ngModel)]="password" placeholder="Password...">
                                </div>
                            </div>
                            <div class="footerDone text-center">
                                <button href="#pablo" type="submit" [disabled]="!reactiveForm.valid"
                                    class="btn btn-primary btn-link btn-wd btn-lg">Gotovo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-transparent">
        <app-footer></app-footer>
    </div>
</div>