<div class="card">
    <div class="card-header card-header-primary">
        <h3 class="card-title">Osnovne informacije</h3>
        <p class="card-category">Izmena radnog vremena i kontakta
        </p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 ml-auto ">
                <h4 class="card-title text-center">Radno vreme</h4>
                <h4 class="text-center">
                    <table class="table">
                        <tr>
                            <td>
                                Ponedeljak
                            </td>
                            <td>
                                7:30-15:30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Utorak
                            </td>
                            <td>
                                7:30-15:30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sreda
                            </td>
                            <td>
                                7:30-15:30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Četvrtak
                            </td>
                            <td>
                                7:30-15:30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Petak
                            </td>
                            <td>
                                7:30-15:30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Subota
                            </td>
                            <td>
                                8:00-12:00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nedelja
                            </td>
                            <td>
                                -
                            </td>
                        </tr>
                    </table>
                </h4>
            </div>
            <div class="col-md-6 mr-auto text-center">
                <h4 class="card-title text-center">Kontakt telefon</h4>
                <h4>
                    <i class="material-icons p-1">phone</i>
                    021493456
                </h4>
            </div>
        </div>
    </div>
</div>