<div class="card">
    <div class="card-header card-header-primary">
        <h3 class="card-title">Offset poslovi</h3>
        <p class="card-category">Pregled istorije poslova
        </p>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <th>Broj otpremnice</th>
                <th>Datum porudžbine</th>
                <th>Štamparija</th>
                <th>Fajlovi</th>
                <th>Radni nalog</th>
                <th>Detaljnije</th>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </table>
        </div>
    </div>
</div>