<div class="card">
    <div class="card-header card-header-primary">
        <h3 class="card-title">Kontakti</h3>
        <p class="card-category">Štamparije i osnovne informacije </p>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <th>Štamparija</th>
                <th>E-mail</th>
                <th>Kontakt telefon</th>
                <tr>
                    <td>Mondograf</td>
                    <td>mondo@gmail.com</td>
                    <td>054663441</td>
                </tr>
            </table>
        </div>
    </div>
</div>