<div class="wrapper ">
    <div class="sidebar" data-color="gray">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#pablo" class="simple-text logo-mini">
          SS
        </a>
        <a href="#pablo" class="simple-text logo-normal">
          Studio Spremo
        </a>
      </div>
      <div class="sidebar-wrapper"  id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="#pablo">
              <i class="now-ui-icons design_app"></i>
              <p><b>Kontrolna tabla</b></p>
            </a>
          </li>
          <li>
            <a href="./icons.html">
              <i class="now-ui-icons education_atom"></i>
              <p><b>Dodaj objavu</b></p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="now-ui-icons location_map-big"></i>
              <p><b>Mapa</b></p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p><b>Obaveštenja</b></p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <i class="now-ui-icons users_single-02"></i>
              <p><b>Uredi profil</b></p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p><b>Tabela flexo</b></p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p><b>Tabela offset</b></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-gray " color-on-scroll="500">
        <div class="container-fluid">
            <a class="navbar-brand" href="#pablo"> Kontrolna tabla </a>
            
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons education_paper"></i>
                            <p>&nbsp;Blog</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons media-1_button-power"></i>
                            <p>&nbsp;Odjava</p>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <!-- End Navbar -->